li{
    list-style: none;
    width: 380px;
    height: 80px;
    background-color: #eeeeee;
    display: flex;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.check{
    position: absolute;
    left: 14px;
    color: gray;
    font-size: 22px;
    cursor: pointer;
}

.checkCompleted{
    color: green;
}

.taskSpec-completed{
    text-decoration: line-through;
}

.delete{
    position: absolute;
    right: 2px;
    top: -19px;
    color: gray;
    font-size: 40px;
    cursor: pointer;
}


.delete:hover{
    color: red;
}